.product-box {
    padding: 10px;
    background-color: #f8f9fa; 
    border: 1px solid #dee2e6; 
    border-radius: 5px;
    margin: 10px;
    width: 100%; 
  }
  
  .product-info {
    margin-bottom: 5px;
  }
  